.backgroundcard {
    background-color: $background-card;
}
.bodycard {
    background-color: $body-card;
    color: white;
    background: #3E367E;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
}
.lessoncard{
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%, -50%);
    transform: translateX(-50%, -50%);
}
.selectlessson {
    padding-top : 50px !important;

}
.lesson {
    text-align: center;
    font-size: 16px;
}
.cardlesson {
    height: 200px;
    width: 80%;
}
.cropcard {
    text-align: -webkit-center;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
