// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//background card
$background-card: #2C275E;
$body-card: #3E367E;
$lighbody: #3E367E;
$buttonsuccess-color: #3EF0C5;
$buttoncancel-color: #EF3360;
$colorlinkloginpage: #8F8C8C;
$color-textinput: #204095;
